<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="home_page.css">
    <title>Vividly</title>
</head>
<body>
    <nav class="navbar">
        <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-color-vitaly-gorbachev/30/000000/external-letter-v-hand-gestures-vitaliy-gorbachev-lineal-color-vitaly-gorbachev.png"/>
        <div class="navbar-left">
            <h1 class="navbar-headers">Vividly</h1>
            <h1 class="navbar-headers">About Us</h1>
        </div>
        <div class="navbar-right">
            <h1 class="navbar-headers">Sign In</h1>
            <h1 class="navbar-headers">Get Started</h1>
        </div>
    </nav>

    <br>

    <div class="su-image">
        <div class="homepage-signup">
            <h1>Vividly</h1>
            <p>A secure end-to-end encryption Communication Platform for everyone</p>
        </div>
        <img class="vector-image" src="video call vector.png" alt="Video Call Vector">
    </div>
</body>
</html>